<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Inter Invest</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">          
            <ul class="navbar-nav">                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Gestion des villes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('city_list') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('city_add') }}">Ajouter</a></li>
                    </ul>                    
                </li>
            </ul>
            <ul class="navbar-nav">                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Gestion des adresses
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('address_list') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('address_add') }}">Ajouter</a></li>
                    </ul>                    
                </li>
            </ul>            
            <ul class="navbar-nav me-auto">                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Gestion des sociétés
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('company_list') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('company_add') }}">Ajouter</a></li>
                    </ul>                  
                </li>
            </ul>            
        </div>
    </div>
</nav>